
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style=" text-align: center;color:palevioletred;text-decoration:underline"> WELCOME TO MANJU IT SOLUTIONS</h1>
        <h2> click here links  to navigate </h2>
        <a href="/registration/register ">register</a><br />
        <a href="/registration/login ">login</a><br />
        <a href="/registration/forgotpassword ">forgotpassword</a><br />
        <a href="/registration/resetpassword ">resetpassword</a><br />
        <a href="/registration/contact ">contact</a><br />
        <a href="/registration/about ">about</a><br />

    </div>
</body>
</html>
