
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <h1 style=" text-align: center;color:palevioletred;text-decoration:underline"> WELCOME TO MANJU IT SOLUTIONS</h1>
         <h3 style=" text-align: center;color:orangered;text-decoration:underline">  registration page</h3>
        <table align="center">
            <tr>
                <td>name:</td>
                <td><input type="text" id="txtname" name="txtname" /></td>
                <td>userid:</td>
                <td><input type="text" id="txtname" name="txtname" /></td>
                
            </tr>
        </table>
    </div>
</body>
</html>
